.admin-login{
    height:100vh;
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;   
    box-sizing: border-box;
    overflow: hidden;    
}

.admin-bg{
    height:100vh;
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;   
    box-sizing: border-box;
}

.spacer1{width: 100%;height:1px;clear: both;}
.spacer5{width: 100%;height:5px;clear: both;}
.spacer10{width:100%;height:10px;clear:both;}
.spacer20{width:100%;height:20px;clear:both;}
.spacer30{width:100%;height:30px;clear:both;}
.spacer40{width:100%;height:40px;clear:both;}
.spacer50{width:100%;height:50px;clear:both;}
.spacer50{width:100%;height:50px;clear:both;}
.spacer51{width:100%;height:51px;clear: both;}
.spacer60{width:100%;height:60px;clear:both;}
.spacer70{width:100%;height:70px;clear:both;}
.spacer80{width:100%;height:80px;clear:both;}
.spacer90{width:100%;height:90px;clear:both;}
.spacer100{width:100%;height:100px;clear:both;}

.navbar-default{
    background-color:#626262;
    color:#fff;
    padding:5px 0;
    border:none;
}

.navbar-default .navbar-nav > li > a{
    color:#fff;
}

.importer-title{
    color:#fff;
}