#searchOverlay thead, tbody, tr, td, th {
    display: block;
}

#searchOverlay tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#searchOverlay thead th {
    padding: 15px 0;
    /*text-align: left;*/
}

#searchOverlay tbody {
    height: 50vh;
    overflow-y: auto;
}

#searchOverlay thead {
    /* fallback */
}

#searchOverlay tbody td, thead th {
    width: 15%;
    float: left;
}

.prodotti-results td:hover{
    cursor:pointer;
}

/*
 *  Scrollbar style
 */

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 62, 80, .8);
    background-color: rgba(236, 240, 241, .6);
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(236, 240, 241, .6);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(44, 62, 80, .8);
    border: 1px solid rgba(44, 62, 80, .8);
}