.logo {
    width: 200px;
}

.searchIcon {
    font-size: 25px;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-trigger {
    /*position: absolute;*/
    width: 50px;
    height: 50px;
    padding: 18px 11px 10px 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    z-index: 1;
}

.nav-trigger:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.navbar-default {
    background: transparent;
    border: 0 !important;
    padding: 20px 0;
    height:50px;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}

.navScrolled {
    background: rgba(32, 32, 39, 0.95) !important;
    height: 60px;
    padding: 16px;
}

.navScrolled .logo {
    width: 160px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navScrolled .nav-trigger {
    margin-top: -6px;
    width: 40px;
    height: 40px;
    padding: 14px 11px 10px 11px;
}

#nav {
    /*position: relative;;*/
}

#nav .trigger-position {
    left: 0;
}

#nav .nav-trigger {
    right: 20px !important;
    top: 0px !important;
}

.bar {
    width: 17px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #26262D;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.activeTrigger .bar-1 {
    transform: rotate(-45deg);
    width: 25px;
    position: relative;
    top: 6px;
    left: -3px;
}

.activeTrigger .bar-2 {
    width: 0px;
}

.activeTrigger .bar-3 {
    transform: rotate(45deg);
    width: 25px;
    position: relative;
    left: -2px;
    top: -5px;
}


/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    left: 0;
    top: 0px;
    background-color: rgb(12, 12, 12);
    /* Black fallback color */
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

.overlay-inner-cont{
    width:100%;
    height:100%;
    position:relative;
    z-index:1;
}

.overlay-inner-cont:before{
    content: "";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url(../images/bg_home.jpg) center bottom no-repeat;
    background-size:cover;
    opacity:0.4;
}


/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 17%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: left;
    margin-left: 5%;
    /* Centered text/links */
    margin-top: 30px;
}


/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    display: block;
    /* Display block instead of inline */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
    color: #D71F1B;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content li{
    list-style:none;
    line-height:30px;
}

.menu-col-tit{
    margin:30px 7px 10px;
    font-size:20px;
    color:#4a4a4a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-col:hover > .menu-col-tit{
    color:#9a9a9a;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 480px) {
    .navScrolled {
        background: rgba(32, 32, 39, 1) !important;
    }
    .logo{
        width:150px;
        margin-left:20px;
    }
    .navbar-right{
        width:95px;
    }
    .nav>li{
        display:inline;
        float:left;
    }
    .search, .menu-icon{
        width:35px;
    }
    .search{
        margin-right:5px;
    }
    .search-cont-sml{
        margin-top:20px !important;
    }
    .search-title-sml{
        font-size:18px;
    }
    .research-for-box{
        margin-top:15px !important;
    } 
    .research-for{
        font-size:18px;
        line-height:18px;
    }
    .search-img-block, .search-code-block{
        width:48% !important;
    }
    .search-code-block p{
        padding-top:15px;
    }
    .overlay-cont .col-xs-12{
        padding:0;
    }
    .overlay-content{
        top:13%;
    }
    .overlay-content > .menu-col:last-child{
        padding-left:10px;
    }
    .first-menu-col{
        padding:0;
    }
    .menu-col{
        padding:0;
    }
    .menu-col-tit{
        font-size:14px;
        margin:10px 7px 7px;
    }
    .overlay a {
        font-size: 18px
    }
    .overlay li{
        line-height:26px;
    }

}

@media screen and (max-width: 768px) {
    .navbar-header {
        float: left;
    }
    .navbar-right {
        position: relative;
        top: -10px;
        float: right;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .navbar-right{
        margin-right:0;
    }
}

/*Menu*/

.navIcon {
  margin-top: 2px;
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navIcon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 90%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navIcon span:nth-child(1) {
  top: 0px;
}

.navIcon span:nth-child(2),.navIcon span:nth-child(3) {
  top: 11px;
}

.navIcon span:nth-child(4) {
  top: 23px;
}

.navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.search,
.top-wish{
    margin-right:15px;
}

.search i,
.top-wish i{
  font-size: 25px;
  color: #fff;
  margin-top: 3px;
}

.top-wish a{
    padding-top:0 !important;
}


.disableScroll{ /*disabilita lo scroll sotto l'overlay. Applicato al body*/
  overflow: hidden;
}

@media screen and (max-width: 480px) {
    .navbar-right{width:110px;}
    .search {
        margin-right:10px;
        width:26px;
    }
    .search i, .top-wish i{
        font-size:18px;
    }
    .navIcon{
        width:26px;
    }
    .navIcon span:nth-child(2), .navIcon span:nth-child(3){
        top:7px;
    }
    .navIcon span:nth-child(4){
        top:14px;
    }
    .nav>li>a{padding:0;}

    .navScrolled .logo{
        width:150px;
        margin-left:0;
    }
}