.wish-container {
  background: #fff;
  width: 100%;
  margin-top: 5%;
  height: auto;
}
.wish-content {
  min-height: 90vh;
  width: 100%;
}
.wish-content .search-left {
  background: #202027;
  color: #fff;
  min-height: 100vh;
  padding: 50px 20px 0 30px;
  line-height: 20px;
  position: relative;
}
.wish-content .search-left p {
  position: fixed;
  width: 170px;
}
#showLeftPush{
    padding:10px 20px;
    width:170px;
    border:none;
	font-family:'Av-med';
	position:fixed;
	top:220px;
}
#showLeftPush:hover {
  border: 1px solid #b41410;
}
.wish-to-close{cursor:pointer;}

.cerca-whishlist-results {
  height: 440px;
  overflow-y: scroll;
}

.submit-order {
	cursor: pointer;
}

/* General styles for right slide */
.wish-u-were-right {
  background: #202027;
  width:100%;
}
.wish-u-were-right-cont{
	padding:0 50px;
	background: #fff;
	min-height:100vh;
}

.cbp-spmenu {
  position: fixed;
  padding-top: 4.5%;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.2em;
  padding: 10px;
  margin: 0 15px;
  font-weight: 300;
  background: #ee1d23;
}

.cbp-spmenu .row {
  margin: 0;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #e74c3c;
}

.cbp-spmenu h5 {
  font-size: 14px;
}

.wishlist-line {
  /* border-top: 1px solid #eee; */
	border-bottom: 1px solid #eee;
	padding-bottom:5px;
  margin-bottom: 10px;
}
.whishlist-total-bg{
	background: #f00;
	height:110px;
}

/* Styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 75%;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu h5 {
  border-bottom: 1px solid #ee1d23;
  padding: 1em;
}

.cbp-spmenu .btn{
	font-size:14px;
	margin-top:10px;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -75%;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	border-right: 1px solid #111;
	background: #212127;
	padding-top:50px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 75%;
}

.table-wish {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.table-wish div:nth-child(5) {
  margin-left: -45px;
}

.table-wish .title {
  font-weight: bold;
}

.table-top-line {
  margin-top: 50px;
  margin-bottom: 15px;
  background: #212727;
  color: #fff;
  height: 30px;
}

.item-number {
  width: 50px;
  height: 35px;
  padding: 7px 0 0 !important;
}

.add-remove-item {
  margin: 0;
  padding: 0;
  width: 50px;
}

.add-remove-item li {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-top: 5px;
  padding: 0 !important;
  float: left;
  display: inline;
  border: 1px solid #333;
  font-weight: bold;
  color: #333;
}
.add-remove-item li:first-child p {
  margin-top: -7px;
  margin-left: 4px;
  font-weight: bold;
}

.add-remove-item li:last-child p {
  margin-top: -14px;
  margin-left: 6px;
  font-weight: bold;
}

.add-remove-item li p:hover {
  cursor: pointer;
}
.total-bar{
	background:#fff;
	padding:50px 0;
}
.total-amount, .total-place-ord{
	text-align:center;
}
.order-form{
	background:#fff;
}

/* Modal Style */

.modal-body {
  color: #000;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media only screen and (max-width: 768px){
	.wish-content{width:88%;}
	.wish-container{margin-top:60px;}

	.cbp-spmenu-vertical{width:100%;}
	.cbp-spmenu-left{left:-100%;}
	.cbp-spmenu-open h2{font-size:18px;}
	.cbp-spmenu h5{font-size:12px;}

	.cbp-spmenu-left.cbp-spmenu-open{
		width:100vw;
	}

	.wish-content .search-left {
		position: fixed;
		z-index: 999;
		bottom: 0;
		left: 0;
		min-height:120px;
		padding:15px 0 0;
	}
	.wish-content .search-left p{
		text-align: center;
		font-size: 14px;
		width:100% ;
		position:relative;
	}
	#showLeftPush {
		width: 50%;
		left: 24%;
		top:0;
		position:relative;
	}
	.whislist-container{padding:5px;}
	.table-top-line{
		margin-top:-20px;
		padding-left:10px;}
	.table-wish .title{	
		font-size:12px;
	}
	.table-wish .title div{
		text-align:center;
	}
	.result-cont{
		height:60px;
	}
	.cbp-spmenu .btn {
		margin-top: 10px;}
	.cerca-whishlist-results{
		height:300px;
	}
	.wish--20{
		margin-top:-20px !important;
	}
	.whishlist-search-trigger{
		margin-top:-10px;
	}
	.remove-whishlist{
		background:red;
		border:1px solid red;
		color:#fff;
		width:20px;
		padding: 8px 27px 8px 17px !important;
		margin:5px 0 2px;
	}
	.open-details{
		width:20px;
		padding: 8px 27px 8px 17px !important;
		margin:2px 0 0;
	}
	.whishlist-total-bg{
		position: relative;
		background: red;
		padding: 0px 50px !important;
		height: 200px;
		clear: both;
		margin-right:-15px;		
	}
	.total-amount, .total-place-ord{
		text-align:center;
	}
	.wish-u-were-right{
		padding:0 0 0 30px;
	}

	.wish-u-were-right-cont{
		padding: 0;
	}

	.wish-u-were-right-cont .alert-info{
	padding: 10px;
	width:100vw;
	}

	.order-form{
		width: 100%;
    	padding: 8% !important;
	}
	#footer{display:none;}
}

@media only screen and (min-width: 376px) and (max-width: 414px){
	.whishlist-total-bg, .table-top-line{
		margin-right:-20px;
	}
	.wishlist-line{
		margin-left:5px;
	}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.wish-container {margin-top: 11%;}
	.cbp-spmenu-vertical{width:95%;}
	.cbp-spmenu-left{left:-95%;}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1){

}


/* Example media queries */

@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 50%;
  }

  .cbp-spmenu-push-toright {
    left: 50%;
  }
}
