.profile{
	margin-top:150px;
	min-height:600px;
}

.page-header h3, .modifica-title{
	text-transform: uppercase;
}

.modifica-profilo{
	border:4px solid rgba(255,255,255,0.7);
	width:98%;
	height:250px;
	padding:20px;
	margin:10px 0;
}

.modifica-profilo .profile-img {
-webkit-border-radius: 50%;
border-radius: 50%;
}